/* *{
    margin: 0;
    padding: 0;
} */

.navbar{
    position: absolute;
    z-index: 1;
    margin-left: 10rem;
    margin-top: 20px;
    width: 80%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: 1px 4px 10px 0.8px darkgrey;
    backdrop-filter: blur(20px);
    border-radius: 10px;
}

#logo{
    width: 12rem;
    /* height: 1rem; */
}

.logo{
    width: fit-content;
}

.login_button{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    width: 70px;
    border-radius: 8px;
    background: #818cf8;
    color: white;
    font-size: 16px;
    font-weight: 500;
}

.navlist{
    font-size: 1.3rem;
    font-weight: 500;
    width: fit-content;
    display: flex;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 40px;
}